
	<div id="afterHeight" class="backdrop">

		<div class="dollarBorder"></div>
	
		<div class="explaination">Following the Theory and moving to Treasury Bills at the end of . . .</div>

		<div id="missedGroup" class="dataGroup">
			<div>
				{{#each justMissed}}
					<div class="while">{{month}} {{year}}, meant my return for {{plusMonth}} was {{returnT}}% while the  S&P did {{returnSP}}%.</div>
				{{/each}}
			</div>
		</div>

		<div id="avR">The average S&P return for the missed month was <span class="return">{{avReturn}}%</span>.</div>

		<div class="getHome">Take me back <a href="/">home</a>.</div>

	</div>
