
	<div id="afterHeight" class="backdrop">

		<div class="dollarBorder"></div>
	
		<div class="explaination">Following the Theory and moving to Treasury Bills at the end of . . .</div>

		<div id="missedGroup" class="dataGroup">
			<div>
				{{#each justMissed}}
					<div class="while">{{month}} {{year}}, {{plusMonth}} saw the S&P 500 return {{return}}%.</div>
				{{/each}}
			</div>
		</div>

		<div id="avR">The average "next month" return was <span class="return">{{avReturn}}%</span>.</div>

		<div class="getHome">Take me back <a href="/">home</a>.</div>

	</div>
