
	<div id="whenToHeight" class="backdrop">

		<div class="dollarBorder"></div>
	
		<div class="explaination">When the theory signaled going to Treasury Bills,</div>
		<div class="explaination">here are the previous yearly returns of each asset class for that month.</div>

		<div class="dataGroup">
			<div>
				{{#each whenTreasurys}}
					<div class="eachYear">
						<div class="theYear">Year {{year}}</div>
						<div class="eachData">
							{{#each data}}
								<div class="theData">{{month}} saw bonds return <span class="return">{{bReturn}}%</span> -- S&P 500: {{spReturn}}% -- World Index: {{wReturn}}%.</div>
							{{/each}}
						</div>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="getHome">Take me back <a href="/">home</a>.</div>

	</div>
